@import '~antd/lib/style/color/colorPalette.less';
@import '~antd/dist/antd.less';
@import '~antd/lib/style/themes/default.less';

// These are shared variables that can be extracted to their own file

@primary-color: #d32029;
// @primary-color-hover: #d32029;
@switch-color: @primary-color;

@link-hover-color: #d32029;
@border-radius-base: 4px;
@btn-primary-color: white;
@btn-primary-bg: @primary-color;


.section-bg{
    background-color: white;
}




.underline-text{
    text-decoration: red ;
}
